.pa-popup-wrapper {
  margin: 0;
  overflow: hidden;
  width: 348px;
  font-family: 'Roboto', 'sans-serif';
  min-height: 200px;
  background-color: #eeeeee;
}

.popup-header {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0 1rem;
}

.popup-title {
  text-align: center;
}

.popup-logo-img {
  width: 32px;
  height: 32px;
}

.product-title {
  display: flex;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 0;
}

.store-list {
  list-style: none;
  margin: 0;
  padding: 0.5rem 1rem;
}